.mudyo-gumul {
	background-color: #f1f1f1;
	clear: both;
	outline: 1px solid #ddd;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.mudyo-gumul>div {
	float: left;
	position: relative;
}
.mudyo-gumul>div>div {
	display: table;
}

.mudyo-gumul-l>div,
.mudyo-gumul-m>div {
	min-height: 100px;
}

.mudyo-gumul table {
	background-color: #fff;
	border-collapse: separate;
	border-spacing: 0;
	table-layout: fixed;
}
.mudyo-gumul th,
.mudyo-gumul td {
	border: solid #ccc;
	border-width: 0 1px 1px 0;
	height: 19px;
	line-height: 1em;
	overflow: hidden;
	padding: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mudyo-gumul td[data-bind*='|number'] {
	text-align: right;
}
.mudyo-gumul td[data-unit]::before {
	color: #aaa;
	content: attr(data-unit)' ';
	font-size: .8em;
}

.mudyo-gumul-t {
	z-index: 2;
}
.mudyo-gumul-l {
	clear: both;
	z-index: 1;
}
.mudyo-gumul-m {
	float: right !important;
	overflow: auto;
}
.mudyo-gumul-m>div {
	padding: 0 100px 100px 0;
}

.mudyo-gumul-pillar {
	background-color: #ddd;
	display: block;
	height: 100%;
	margin-left: -1px;
	position: absolute;
	top: 0;
	width: 3px;
	z-index: 3;
}
.mudyo-gumul-resize-handler {
	border: 2px solid transparent;
	cursor: ew-resize;
	display: block;
	height: 100%;
	margin-left: -2px;
	position: absolute;
	top: 0;
	width: 1px;
	z-index: 3;
}
.mudyo-gumul-resize-handler.handling {
	background-color: #ccc;
	border-color: #f1f1f1
}

